<!DOCTYPE HTML>
<HTML>
        <style type="text/css">
            table { page-break-inside:auto;}
            TR    { page-break-inside:avoid; page-break-after:auto;  }
            TD, TH    { border: 1px solid black; }
            thead { display:table-header-group }
            tfoot { display:table-footer-group }
        </style>
<BODY LANG="en-US" DIR="LTR" style="font-size:13px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">

    <P ALIGN=CENTER STYLE="margin-left: 0in; margin-bottom: 0in ; font-size: 16px">
            <strong><em>SCHEDULE IN REFERENCE TO AGREEMENT</em></strong>
    </P>
    <p align="center" STYLE=" font-size: 16px">
            <strong><em>LAMPIRAN KEPADA PERJANJIAN</em></strong>
    </p>
    <p align="center">
            No.<u>{{with .Info}}{{.LANumber}}{{end}}</u>
    </p>
    <OL TYPE=I>
        <LI>
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
            <FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT ><FONT size=1><SPAN STYLE="font-style: normal"><B><SPAN STYLE="background: #ffffff">TENANT</SPAN>
                </B>
                </SPAN>
                </FONT>
                </FONT>
                </SPAN>
                </FONT>
                </SPAN>
            </P>
    </OL>
    <DL>
        <DD>
         {{$companyName := .Tenant.Company.Name}}
         {{if eq $companyName ""}}
        <table width=582 CELLPADDING=0 CELLSPACING=0>
                <TR>
                    <TD WIDTH=37 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                        <p>	
                        <FONT COLOR="#000000"size=1>
                            1.
                            </FONT>
                        </p>
                    </TD>
                    <TD WIDTH=174 STYLE=" padding-left: 0.08in; padding-right: 0.08in">
                    
                        <FONT COLOR="#000000"  size=1>
                            Tenant
                        </FONT>
                        <br>
                        <FONT COLOR="#000000"  size=1>
                            <i>Penyewa</i>
                        </FONT>
                    </TD>
                    {{with .Tenant}}
                    {{with.Recipient}}
                    <TD WIDTH=326 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                        <p>	
                            <FONT COLOR="#000000"  size=1>
                                {{.FirstName}} {{.LastName}}
                            </FONT>
                        </p>
                    </TD>
                </TR>
                <TR>
                    <TD WIDTH=37 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                        <p>	
                            <FONT COLOR="#000000"  size=1>
                                2.
                            </FONT>
                        </p>
                    </TD>
                    <TD WIDTH=174 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                            <FONT COLOR="#000000"  size=1>
                                Tenant's Address
                            </FONT>
                            <br>
                            <FONT COLOR="#000000"  size=1>
                                <i>Alamat Penyewa</i>
                            </FONT>
                    </TD>
                    <TD WIDTH=326 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                        <p>	
                            <FONT COLOR="#000000"  size=1>     
                              {{.Address}}    
                            </FONT>
                        </p>
                    </TD>
                </TR> 
                <TR>
                    <TD WIDTH=37 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                        <p>	
                            <FONT COLOR="#000000"  size=1>
                                3.
                            </FONT>
                        </p>
                    </TD>
                    <TD WIDTH=174 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                            <FONT COLOR="#000000"  size=1>
                               ID Card/Passport No.
                            </FONT>
                            <br>
                            <FONT COLOR="#000000"  size=1>
                                <i>No. KTP/Paspor</i>
                            </FONT>
                    </TD>
                    <TD WIDTH=326 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                        <p>	
                            <FONT COLOR="#000000"  size=1>
                                {{.IDCardNumber}}
                            </FONT>
                        </p>
                    </TD>
                    {{end}}
                </TR>
                <TR>
                  {{with .PIC}}
                    <TD WIDTH=37 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                        <p>	
                            <FONT COLOR="#000000"  size=1>
                                4.
                            </FONT>
                        </p>
                    </TD>
                    <TD WIDTH=174 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                            <FONT COLOR="#000000"  size=1>
                                PIC Name
                            </FONT>
                            <br>
                            <FONT COLOR="#000000"  size=1>
                                <i>Nama PIC</i>
                            </FONT>
                    
                    </TD>
                    <TD WIDTH=326 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                        <p>	
                            <FONT COLOR="#000000"  size=1>
                                {{.FirstName}} {{.LastName}}
                            </FONT>
                        </p>
                    </TD>
                </TR>
                <TR>
                    <TD WIDTH=37 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                        <p>	
                            <FONT COLOR="#000000"  size=1>
                                5.
                            </FONT>
                        </p>
                    </TD>
                    <TD WIDTH=174 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                            <FONT COLOR="#000000"  size=1>
                                PIC Telephone No.
                            </FONT>
                            <br>
                            <FONT COLOR="#000000"  size=1>
                                <i>Nomor Telepon PIC</i>
                            </FONT>
                    </TD>
                    <TD WIDTH=326 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                        <p>	
                            <FONT COLOR="#000000"  size=1>
                               {{.Phone}}
                            </FONT>
                        </p>
                    </TD>
                </TR>
                <TR>
                    <TD WIDTH=37 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                        <p>	
                            <FONT COLOR="#000000"  size=1>
                                6.
                            </FONT>
                        </p>
                    </TD>
                    <TD WIDTH=174 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                            <FONT COLOR="#000000"  size=1>
                                PIC Email Address
                            </FONT>
                            <br>
                            <FONT COLOR="#000000"  size=1>
                                <i>Alamat email PIC</i>
                            </FONT>
                    </TD>
                    <TD WIDTH=326 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                        <p>	
                            <FONT COLOR="#000000"  size=1>
                               {{.Email}}
                            </FONT>
                        </p>
                    </TD>
                    {{end}}
                    {{end}}
                </TR>
        </table>
        {{else}}
        <table width=582 CELLPADDING=0 CELLSPACING=0>
            <TR>
                <TD WIDTH=37 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p>	
                    <FONT COLOR="#000000"size=1>
                        1.
                        </FONT>
                    </p>
                </TD>
                <TD WIDTH=174 STYLE=" padding-left: 0.08in; padding-right: 0.08in">
                
                    <FONT COLOR="#000000"  size=1>
                        Tenant
                    </FONT>
                    <br>
                    <FONT COLOR="#000000"  size=1>
                        <i>Penyewa</i>
                    </FONT>
                
                </TD>
                {{with .Tenant}}
                {{with .Company}}
                <TD WIDTH=326 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p>	
                        <FONT COLOR="#000000"  size=1>
                            {{.Name}}
                        </FONT>
                    </p>
                </TD>
            </TR>
            <TR>
                <TD WIDTH=37 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p>	
                        <FONT COLOR="#000000"  size=1>
                            2.
                        </FONT>
                    </p>
                </TD>
                <TD WIDTH=174 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                        <FONT COLOR="#000000"  size=1>
                            Tenant's Address
                        </FONT>
                        <br>
                        <FONT COLOR="#000000"  size=1>
                            <i>Alamat Penyewa</i>
                        </FONT>
                </TD>
                <TD WIDTH=326 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p>	
                        <FONT COLOR="#000000"  size=1>
                          
                          {{.Address}}
                            
                        </FONT>
                    </p>
                </TD>
            </TR>
            <TR>
                <TD WIDTH=37 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p>	
                        <FONT COLOR="#000000"  size=1>
                            3.
                        </FONT>
                    </p>
                </TD>
                <TD WIDTH=174 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <FONT COLOR="#000000"  size=1>
                        Incorporation Number
                    </FONT>
                    <br>
                    <FONT COLOR="#000000"  size=1>
                        <i> Nomor Akta Pendirian</i>
                    </FONT>
                </TD>
                <TD WIDTH=326 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p>	
                        <FONT COLOR="#000000"  size=1>
                        {{.BusinessRegistrationNumber}}
                        </FONT>
                    </p>
                </TD>
            </TR>
            <TR>
                <TD WIDTH=37 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p>	
                        <FONT COLOR="#000000"  size=1>
                            4.
                        </FONT>
                    </p>
                </TD>
                <TD WIDTH=174 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                        <FONT COLOR="#000000"  size=1>
                            Date of Incorporation
                        </FONT>
                        <br>
                        <FONT COLOR="#000000"  size=1>
                            <i>Tanggal Pendirian</i>
                        </FONT>
                </TD>
                <TD WIDTH=326 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p>	
                        <FONT COLOR="#000000"  size=1>
                           
                          {{.IncorporationDate.Format "02 January 2006"}}
                       
                        </FONT>
                    </p>
                </TD>
            </TR>
            <TR>
                <TD WIDTH=37 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p>	
                        <FONT COLOR="#000000"  size=1>
                            5.
                        </FONT>
                    </p>
                </TD>
                <TD WIDTH=174 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                        <FONT COLOR="#000000"  size=1>
                            Directors Name
                        </FONT>
                        <br>
                        <FONT COLOR="#000000"  size=1>
                            <i>Nama Direktur</i>
                        </FONT>
                </TD>
                <TD WIDTH=326 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p>	
                        <FONT COLOR="#000000"  size=1>
                            {{.DirectorName}}
                         
                        </FONT>
                    </p>
                </TD>
            </TR>
            <TR>
                <TD WIDTH=37 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p>	
                        <FONT COLOR="#000000"  size=1>
                            6.
                        </FONT>
                    </p>
                </TD>
                <TD WIDTH=174 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                        <FONT COLOR="#000000"  size=1>
                            Directors ID Card/Passport No.
                        </FONT>
                        <br>
                        <FONT COLOR="#000000"  size=1>
                            <i>No. KTP/Paspor</i>
                        </FONT>
                </TD>
                <TD WIDTH=326 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p>	
                        <FONT COLOR="#000000"  size=1>
                            {{.IDCardNumber}}
                        </FONT>
                    </p>
                </TD>
                {{end}}
                {{end}}
            </TR>
            <TR>
              {{with .Tenant}}
              {{with .PIC}}
                <TD WIDTH=37 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p>	
                        <FONT COLOR="#000000"  size=1>
                            7.
                        </FONT>
                    </p>
                </TD>
                <TD WIDTH=174 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                        <FONT COLOR="#000000"  size=1>
                            PIC Name
                        </FONT>
                        <br>
                        <FONT COLOR="#000000"  size=1>
                            <i>Nomor Telephone</i>
                        </FONT>
                
                </TD>
                <TD WIDTH=326 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p>	
                        <FONT COLOR="#000000"  size=1>
                            {{.FirstName}} {{.LastName}}
                        </FONT>
                    </p>
                </TD>
            </TR>
            <TR>
                <TD WIDTH=37 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p>	
                        <FONT COLOR="#000000"  size=1>
                            8.
                        </FONT>
                    </p>
                </TD>
                <TD WIDTH=174 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                        <FONT COLOR="#000000"  size=1>
                            PIC Telephone No.
                        </FONT>
                        <br>
                        <FONT COLOR="#000000"  size=1>
                            <i>No Telepon PIC</i>
                        </FONT>
                </TD>
                <TD WIDTH=326 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p>	
                        <FONT COLOR="#000000"  size=1>
                           {{.Phone}}
                        </FONT>
                    </p>
                </TD>
            </TR>
            <TR>
                <TD WIDTH=37 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p>	
                        <FONT COLOR="#000000"  size=1>
                            9.
                        </FONT>
                    </p>
                </TD>
                <TD WIDTH=174 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                        <FONT COLOR="#000000"  size=1>
                            PIC Email Address
                        </FONT>
                        <br>
                        <FONT COLOR="#000000"  size=1>
                            <i>Alamat email PIC</i>
                        </FONT>
                </TD>
                <TD WIDTH=326 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p>	
                        <FONT COLOR="#000000"  size=1>
                           {{.Email}}
                        </FONT>
                    </p>
                </TD>
                {{end}}
                {{end}}
            </TR>
            <TR>
                <TD WIDTH=37 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p>	
                        <FONT COLOR="#000000"  size=1>
                            10.
                        </FONT>
                    </p>
                </TD>
                <TD WIDTH=174 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                        <FONT COLOR="#000000"  size=1>
                            Taxpayer No.
                        </FONT>
                        <br>
                        <FONT COLOR="#000000"  size=1>
                            <i>Nomor NPWP</i>
                        </FONT>
                </TD>
                <TD WIDTH=326 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p>	
                        <FONT COLOR="#000000"  size=1>
                          {{with .Tenant}}{{with .Company}}{{.TaxRegistrationNumber}} {{end}}{{end}}
                        </FONT>
                    </p>
                </TD>
            </TR>
         </table>
        {{end}}
    </DL>
    <OL TYPE=I START=2>
        <LI>
            <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
            <FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT ><FONT size=1><SPAN STYLE="font-style: normal"><B><SPAN STYLE="background: #ffffff">PREMISE</SPAN>
                </B>
                </SPAN>
                </FONT>
                </FONT>
                </SPAN>
                </FONT>
                </SPAN>
            </P>
    </OL>
    <DL>
        <DD>
        <table width=582 CELLPADDING=0 CELLSPACING=0>
                <COL WIDTH=37>
                <COL WIDTH=174>
                <COL WIDTH=326>
                    <TR>
                        <TD WIDTH=37 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                            <p>	
                                <FONT COLOR="#000000"  size=1>
                                    1.
                                </FONT>
                            </p>
                        </TD>
                        <TD WIDTH=174 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                                <FONT COLOR="#000000"  size=1>
                                    Office Unit and Size
                                </FONT>
                                <br>
                                <FONT COLOR="#000000"  size=1>
                                    <i>Unit Sewa dan Luas</i>
                                </FONT>
                        </TD>
                        <TD WIDTH=326 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                            <p>	
                            <ul style="padding-left:0.08in">
                                <FONT COLOR="#000000"  size=1>
                                    {{with .BookingItem}}
                                    {{with .Facility}}
                                    <li>{{.Name}} | {{.Size}} sqm, Luas</li>
                                    {{end}}
                                </FONT>
                            </ul>
                            </p>
                        </TD>
                    </TR>
                    <TR>
                        <TD WIDTH=37 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                            <p>	
                                <FONT COLOR="#000000"  size=1>
                                    2.
                                </FONT>
                            </p>
                        </TD>
                        <TD WIDTH=174 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                                <FONT COLOR="#000000"  size=1>
                                    Location
                                </FONT>
                                <br>
                                <FONT COLOR="#000000"  size=1>
                                    <i>Lokasi</i>
                                </FONT> 
                                <br>
                        </TD>
                        <TD WIDTH=326 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                            <p>	
                            <ul style="padding-left:0.08in">
                                <FONT COLOR="#000000"  size=1>
                                    {{with .Location}}
                                    <li> {{.Building}} , {{.Address}}</li>
                                   {{end}}{{end}}
                                </FONT>
                            <ul style="padding-left:0.08in">
                            </p>
                        </TD>
                    </TR>
            </TABLE>
    </DL>
    {{if eq $companyName ""}}
    <div>

    </div>
    {{else}}
    <div >

    </div>
    {{end}}

<OL TYPE=I START=3>
    <LI>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
        <FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT ><FONT size=1><SPAN STYLE="font-style: normal"><B><SPAN STYLE="background: #ffffff">COMMERCIAL TERMS</SPAN>
            </B>
            </SPAN>
            </FONT>
            </FONT>
            </SPAN>
            </FONT>
            </SPAN>
        </P>
</OL>
<OL TYPE=A>
    <LI>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
        <FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT ><FONT size=1><SPAN STYLE="font-style: normal"><B><SPAN STYLE="background: #ffffff">Period</SPAN>
            </B>
            </SPAN>
            </FONT>
            </FONT>
            </SPAN>
            </FONT>
            </SPAN>
        </P>
</OL>
<DL>
    <DD>
        <table width=582 CELLPADDING=0 CELLSPACING=0 style="page-break-inside: avoid !important">
                <TR>
                    {{with .BookingItem}}
                    <TD WIDTH=37 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                        <p>	
                            <FONT COLOR="#000000"  size=1>
                                1.
                            </FONT>
                        </p>
                    </TD>
                    <TD WIDTH=174 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                        <FONT COLOR="#000000"  size=1>
                                Lease Length
                            </FONT>
                            <br>
                    <FONT COLOR="#000000"  size=1>
                                <i>Masa Sewa</i>
                    </FONT>
                    </TD>
                    <TD WIDTH=326 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                        <p>	
                            <FONT COLOR="#000000"  size=1>
                                {{.BookingLeaseLength}} months
                            </FONT>
                        </p>
                    </TD>
                </TR>
                <TR>
                    <TD WIDTH=37 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                        <p>	
                            <FONT COLOR="#000000"  size=1>
                                2.
                            </FONT>
                        </p>
                    </TD>
                    <TD WIDTH=174 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                        <FONT COLOR="#000000"  size=1>
                            Lease Start Date *
                        </FONT>
                            <br>
                        <FONT COLOR="#000000"  size=1>
                            <i>Tanggal Mulai Sewa</i>
                        </FONT>
                    </TD>
                    <TD WIDTH=326 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                        <p>	
                            <FONT COLOR="#000000"  size=1>
                                {{.BookingStartDate.Format "02 January 2006"}}
                            </FONT>
                        </p>
                    </TD>
                </TR>
            <TR style="page-break-after:avoid !important;">
                <TD ROWSPAN=2 WIDTH=37 STYLE="page-break-inside:avoid !important; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p>	
                        <FONT COLOR="#000000"  size=1>
                            3.
                        </FONT>
                    </p>
                </TD>
                <TD WIDTH=174 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <FONT COLOR="#000000"  size=1>
                        Lease End Date
                    </FONT>
                    <br>
                    <FONT COLOR="#000000"  size=1>
                            Tanggal Akhir Sewa
                    </FONT>
                </TD>
                <TD WIDTH=325 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p>	
                        <FONT COLOR="#000000"  size=1>
                            {{.BookingExpDate.Format "02 January 2006"}}
                        </FONT>
                    </p>
                </TD>
            </TR>
            <TR>
                <TD WIDTH=174 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <FONT COLOR="#000000"  size=1>
                            Including free rental
                    </FONT>
                    <br>
                    <FONT COLOR="#000000"  size=1>
                            termasuk gratis sewa
                    </FONT>
                </TD>
                <TD WIDTH=325 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p>	
                        <FONT COLOR="#000000"  size=1>
                            {{.BookingExpDateFinal.Format "02 January 2006"}}
                        </FONT>
                    </p>
                </TD>
                {{end}}
            </TR>
        </TABLE>
</DL>
<P ALIGN=JUSTIFY STYLE="margin-left: 0.49in; margin-bottom: 0in">
    <SUP><FONT size=1 STYLE="font-size: 9pt"><I>*</I></FONT></SUP>
    <FONT SIZE=1 STYLE="font-size: 8pt">
        <I>Rental start/end date may not be changed.</I>
    </FONT>
</P>
<OL TYPE=A START=2>
    <LI>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
        <FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT ><FONT size=1><SPAN STYLE="font-style: normal"><B><SPAN STYLE="background: #ffffff">Lease Charge (VAT inclusive)</SPAN>
            </B>
            </SPAN>
            </FONT>
            </FONT>
            </SPAN>
            </FONT>
            </SPAN>
        </P>
</OL>
<DL>
    <DD>
            <table width=582 CELLPADDING=0 CELLSPACING=0>
                <TR>
                    <TD WIDTH=37 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                        <p>	
                            <FONT COLOR="#000000"  size=1>
                                1.
                            </FONT>
                        </p>
                    </TD>
                    <TD WIDTH=174 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                        <FONT COLOR="#000000"  size=1>
                                Original Rental Charge
                            </FONT>
                            <br>
                        <FONT COLOR="#000000"  size=1>
                                <i>Sewa Dasar</i>
                            </FONT>
                    </TD>
                    <TD WIDTH=326 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                        <p>	
                        <ul style="padding-left:0.08in">
                            <FONT COLOR="#000000"  size=1>
                              {{with .BookingItem}}
                              
                               <li>{{.BookingBaseRent | formatAsRupiah}}/month</li> 
                              
                              {{end}}
                            </FONT>
                        </ul>
                        </p>
                    </TD>
                </TR>
                <TR>
                    <TD WIDTH=37 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                        <p>	
                            <FONT COLOR="#000000"  size=1>
                                2.
                            </FONT>
                        </p>
                    </TD>
                    
                    <TD WIDTH=174 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                        <FONT COLOR="#000000"  size=1>
                            Contract Length Discount 
                        </FONT>
                            <br>
                        <FONT COLOR="#000000"  size=1>
                            <i>Diskon</i>
                        </FONT>
                    </TD>
                    <TD WIDTH=326 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                        <p>	
                        <ul style="padding-left:0.08in">
                            <FONT COLOR="#000000"  size=1>
                            {{with .BookingItem}}
                                <li> {{.FacilityDiscount}}%</li> 
                               {{end}}
                            </FONT>
                        </ul>
                        </p>
                    </TD>
                </TR>
                <TR>
                    {{with .PaymentDetail}}	
                    <TD WIDTH=37 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                        <p>	
                            <FONT COLOR="#000000"  size=1>
                                3.
                            </FONT>
                        </p>
                    </TD>
                    <TD WIDTH=174 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                        <FONT COLOR="#000000"  size=1>
                            Promo Code
                        </FONT>
                        <br>
                        <FONT COLOR="#000000"  size=1>
                            <i>Kode Promo</i>
                        </FONT>
                    </TD>
                    <TD WIDTH=326 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                        <p>
                        
                            <FONT COLOR="#000000"  size=1>
                             {{.PromoCode}} 
                            </FONT>
                           
                        </p>
                    </TD>
                </TR>
                <TR>
                    <TD WIDTH=37 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                        <p>	
                            <FONT COLOR="#000000"  size=1>
                                4.
                            </FONT>
                        </p>
                    </TD>
                    <TD WIDTH=174 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                        <FONT COLOR="#000000"  size=1>
                            Promo Discount
                        </FONT>
                        <br>
                        <FONT COLOR="#000000"  size=1>
                            <i>Diskon Promo</i>
                        </FONT>
                    </TD>
                    <TD WIDTH=326 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                        <p>	
                            <FONT COLOR="#000000"  size=1>
                                {{.PromoDiscount}}
                            </FONT>
                        
                        </p>
                    </TD>
                </TR>
                <TR>
                    <TD WIDTH=37 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                        <p>	
                            <FONT COLOR="#000000"  size=1>
                                <b>5.</b>
                            </FONT>
                        </p>
                    </TD>
                    <TD WIDTH=174 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                        <FONT COLOR="#000000"  size=1>
                            <b>Final Monthly Rental</b>
                        </FONT>
                        <br>
                        <FONT COLOR="#000000"  size=1>
                            <b><i>Harga Sewa Akhir</i></b>
                        </FONT>
                    </TD>
                   
                    <TD WIDTH=326 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                        <p>	
                            <FONT COLOR="#000000"  size=1>
                                <b>{{.FinalPricePerMonth | formatAsRupiah}}/month</b>
                            </FONT>
                        </p>
                    </TD>
                    {{end}}
                </TR>
        </TABLE>
</DL>
<OL TYPE=A START=3>
    <LI>
        <P ALIGN=JUSTIFY STYLE="margin-bottom: 0in; background: #ffffff; border: none; padding: 0in; line-height: 100%; page-break-inside: auto; widows: 2; orphans: 2; page-break-after: auto">
        <FONT COLOR="#000000"><SPAN STYLE="text-decoration: none"><FONT ><FONT size=1><SPAN STYLE="font-style: normal"><B><SPAN STYLE="background: #ffffff">Payment and Other Details	</SPAN>
            </B>
            </SPAN>
            </FONT>
            </FONT>
            </SPAN>
            </FONT>
            </SPAN>
        </P>
</OL>
<DL>
    <DD>
        <table width=582  CELLPADDING=0 CELLSPACING=0>
        <TR>
            <TD WIDTH=37  STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <p>	
                    <FONT COLOR="#000000"  size=1>
                        1.
                    </FONT>
                </p>
            </TD>
            <TD WIDTH=174 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <FONT COLOR="#000000"  size=1>
                    Payment Terms
                </FONT>
                <br>
                <FONT COLOR="#000000"  size=1>
                        <i>Termin Pembayaran</i>
                </FONT>
            </TD>
            {{with .PaymentDetail}}
            <TD WIDTH=326 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <p>	
                    <FONT COLOR="#000000"  size=1>
                        {{.Terms}}
                    </FONT>
                </p>
            </TD>
        </TR>
        <TR>
            <TD WIDTH=37 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <p>	
                    <FONT COLOR="#000000"  size=1>
                        2.
                    </FONT>
                </p>
            </TD>
            <TD WIDTH=174 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <FONT COLOR="#000000"  size=1>
                    Security Deposit
                </FONT>
                <br>
                <FONT COLOR="#000000"  size=1>
                    <i>Uang Jaminan</i>
                </FONT>
                
            </TD>
            <TD WIDTH=326 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <p>	
                    <FONT COLOR="#000000"  size=1>
                    {{.DepositPeriod}} Month - {{.DepositAmount | formatAsRupiah}}
                    </FONT>
                </p>
            </TD>
        </TR>
        <TR>
            <TD WIDTH=37 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <p>	
                    <FONT COLOR="#000000"  size=1>
                        3.
                    </FONT>
                </p>
            </TD>
            <TD WIDTH=174 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <FONT COLOR="#000000"  size=1>
                    Advance Rental
                </FONT>
                <br>
                <FONT COLOR="#000000"  size=1>
                    <i>Pembayaran Dimuka</i>
                </FONT>
            </TD>
            <TD WIDTH=326 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <p>	
                    <FONT COLOR="#000000"  size=1>
                        {{.AdvancePaymentPeriod}} Month - {{.AdvancePaymentAmount | formatAsRupiah}}
                    </FONT>
                </p>
            </TD>
            {{end}}
        </TR>
        <TR>
            <TD WIDTH=37 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <p>	
                    <FONT COLOR="#000000"  size=1>
                        4.
                    </FONT>
                </p>
            </TD>
            <TD WIDTH=174 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <FONT COLOR="#000000"  size=1>
                    Use of Common Area
                </FONT>
                <br>
                <FONT COLOR="#000000"  size=1>
                    <i>Penggunaan Ruang Umum</i>
                </FONT>
            </TD>
            <TD WIDTH=326 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                <p>	
                    <FONT COLOR="#000000"  size=1>
                            Member are free to use the facilities available on common area.
                    </FONT>
                </p>
            </TD>
        </TR>
        <TR>
                <TD WIDTH=37 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p>	
                        <FONT COLOR="#000000"  size=1>
                            5.
                        </FONT>
                    </p>
                </TD>
                <TD WIDTH=174 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <FONT COLOR="#000000"  size=1>
                        Use of Meeting Space
                    </FONT>
                    <br>
                    <FONT COLOR="#000000"  size=1>
                        <i>Penggunaan Ruang Meeting</i>
                    </FONT>
                </TD>
                <TD WIDTH=326 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p>	
                     <ul style="padding-left:0.08in">
                        <FONT COLOR="#000000"  size=1>
                            {{with .BookingItem}}
                            <li style="size:20px">{{.FreeMeetingRoomCredits}}/hours.</li>
                            {{end}}
                        </FONT>
                    </ul>
                    </p>
                </TD>
            </TR>
            <TR>
                <TD WIDTH=37 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p>	
                        <FONT COLOR="#000000"  size=1>
                            6.
                        </FONT>
                    </p>
                </TD>
                <TD WIDTH=174 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <FONT COLOR="#000000"  size=1>
                        Use of Flexi Desk
                    </FONT>
                    <br>
                    <FONT COLOR="#000000"  size=1>
                            <i>Penggunaan Flexi Desk</i>
                    </FONT>
                </TD>
                <TD WIDTH=326 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p>	
                        <ul style="padding-left:0.08in">
                        <FONT COLOR="#000000"  size=1>
                                {{with .BookingItem}}
                                <li>{{.FreeFlexiDeskCount}}/desk.</li>
                                 
                        </FONT>
                        </ul>
                    </p>
                </TD>
            </TR>
            <TR>
                <TD WIDTH=37 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p>	
                        <FONT COLOR="#000000"  size=1>
                            7.
                        </FONT>
                    </p>
                </TD>
                <TD WIDTH=174 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <FONT COLOR="#000000"  size=1>
                        Other Details
                    </FONT>
                    <br>
                    <FONT COLOR="#000000"  size=1>
                        <i>Lain-lain</i>
                    </FONT>
                </TD>
                <TD WIDTH=326 STYLE=" padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0.08in">
                    <p>	
                        <FONT COLOR="#000000"  size=1>
                            {{.OtherDetail}}
                            {{end}}  
                        </FONT>
                    </p>
                </TD>
            </TR>
        </TABLE>
</DL>
<p style="margin-top: 50px">
        This agreement is not valid for any alteration without the acknowledgement
        and agreement of Both Parties.
    </p>
    <p style="margin-bottom: 50px">
        <em>
            Segala perubahan dari Perjanjian ini tidak berlaku kecuali dengan
            kesepakatan dan persetujuan kedua belah Pihak.
        </em>
    </p>
    <p>
        <em></em>
    </p>
    <table border="0" cellspacing="0" cellpadding="0" width="100%">
        <tbody>
            <tr>
                <td width="302" valign="top" style="border: 0px;">
                    <p align="center">
                        Signed for and on behalf of:
                    </p>
                    {{with .EvHive}}
                    <p align="center">
                      <strong>{{.Name}}</strong>
                    </p>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                    {{with .PIC}}
                    <p align="center">
                        <u>{{.FirstName}} {{.LastName}}</u>
                    </p>
                    <p align="center">
                        {{.Title}}
                    </p>
                    {{end}}
                    {{end}}
                </td>
                <td width="36" valign="top" style="border: 0px;">
                </td>
                <td width="316" valign="top" style="border: 0px;">
                  {{with .Tenant}}
                  {{with .Company}}
                    <p align="center">
                        Signed for and on behalf of:
                    </p>
                    <p align="center">
                        <strong>{{.Name}}</strong>
                    </p>
                    <br/>
                    <br/>
                    <br/>
                    <br/>
                  {{end}}
                  {{with .Recipient}}
                    <p align="center">
                        <u>{{.FirstName}} {{.LastName}}</u>
                    </p>
                    <p align="center">
                        {{.Title}}
                    </p>
                  {{end}}
                  {{end}}
                </td>
            </tr>
        </tbody>
    </table>
 </body>
 </html>
  